
.gameover-button {
  display: none;
}

.canvas-screen {
  position: relative;
  text-align: center;
}

.visible {
  display: block;
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-37%);
  padding: 30px 50px;
  font-family: 'Press Start 2P';
  font-size:1.1em;
  color: white;
  background-color:red;
  letter-spacing: 0.5px;
  text-align: center;
  text-decoration: none;
  border: 2px solid rgba(0, 0, 0, 0.2);
  Border-Radius: 80px;
}



 
